<div class="container">
<div class="list-group mt-5">
  <h3 class="list-group-item list-group-item-action active" aria-current="true">
    Chi Tiết Thuê Phòng
  </h3>
    <li class="list-group-item list-group-item-action">
      Số Phòng: <span class="h6">{{PhongMap.get(ListThuebyId.id_Phong)}}</span> 
    </li>
    <li class="list-group-item list-group-item-action">
      Tên khách hàng: <span class="h6">{{UserMap.get(ListThuebyId.userID)}}</span>
    </li>
    <li class="list-group-item list-group-item-action">
      Ngày Thuê: <span class="h6">{{ListThuebyId.ngayThue|date:"dd / MM / yyyy"}}</span>
    </li>
    <li class="list-group-item list-group-item-action">
      Ngày Thu: <span class="h6" style="color: red; ">{{ListThuebyId.ngayThu|date:"dd / MM / yyyy"}}</span>
    </li>
    <li class="list-group-item list-group-item-action">
      Giá Phòng: <span class="h6" >{{ListThuebyId.giaPhong |number}} VND</span>
    </li>
    <li class="list-group-item list-group-item-action">
      Tiền khách Đưa Trước: <span class="h5" >{{ListThuebyId.tienDuaTruoc |number}} VND</span> 
     </li>
     <li class="list-group-item list-group-item-action">
      Chỉ Số Điện Đầu:
      <span class="h6"  >{{ListThuebyId.csdDien}}</span>
      
     </li>
     <li class="list-group-item list-group-item-action">
      Chỉ Số Điện Cuối:
      <span class="h6" >{{ListThuebyId.cscDien}}</span>
      
     </li>
     <li class="list-group-item list-group-item-action">
      Kw Điện:
      <span class="h6" >{{ListThuebyId.kwDien}}</span>
      
     </li>
     <li class="list-group-item list-group-item-action">
       Giá Điện:
       <span class="h6" > {{ListThuebyId.giaDien |number}}</span>
     
     </li>
     <li class="list-group-item list-group-item-action">
      Chỉ số nước đầu:
      <span class="h6" >{{ListThuebyId.csdNuoc}}</span>
      
     </li>
     <li class="list-group-item list-group-item-action">
      Chỉ số nước cuối:
      <span class="h6" > {{ListThuebyId.cscNuoc}}</span>
     
     </li>
     <li class="list-group-item list-group-item-action">
      Giá nước:
      <span class="h6" >{{ListThuebyId.giaNuoc | number}} VND</span>     
     </li>
     <li class="list-group-item list-group-item-action">
      Tình trạng thanh toán:
     <span class="h6" style=" color: red;">{{TTTTMap.get(ListThuebyId.idTTThanhToan)}}</span> 
     </li>
     <li class="list-group-item list-group-item-action">
      Tổng tiền còn thiếu:
      <span class="h6" >{{ListThuebyId.thanhTien | number}} VND</span>
      
     </li>
</div>

<div class="list-group mt-5">
  <h3 class="list-group-item list-group-item-action active" aria-current="true">
    thanh toán
  </h3>
    <li class="list-group-item list-group-item-action">
      Số tài khoản: <span class="h6">106869096627</span> 
    </li>
    <li class="list-group-item list-group-item-action">
      Ngây hàng: <span class="h6">Viettinbank</span>
    </li>
    <li class="list-group-item list-group-item-action">
      Họ tên chủ tài khoản: <span class="h6">Phạm Văn Dũng</span>
    </li>
    <li class="list-group-item list-group-item-action">
      Lưu ý: <span class="h6" style="color: red;">chuyển khoản với nội dung : họ tên + số phòng</span>
    </li>
</div>
</div>