<div class="list-group">
  <h3 class="list-group-item list-group-item-action active" aria-current="true">
    Chi Tiết Chốt điện nước
  </h3>
    <li class="list-group-item list-group-item-action">
      Tên khách hàng: {{UserMap.get(ctchot.userID)}}
    </li>
    <li class="list-group-item list-group-item-action">
      Ngày Chốt : {{ctchot.ngayChot | date:"dd / MM / yyyy"}}
      
    </li>
    <li class="list-group-item list-group-item-action">
      Ảnh Công tơ điện : <img [src]="ImgPath+ctchot.imgDien" height="500px"/>
    </li>
    <li class="list-group-item list-group-item-action">
      Ảnh đồng hồ nước:<img [src]="ImgPath+ctchot.imgNuoc" height="500px"/>
      
    </li>
</div>