<h3 class="text-center">
  Quản lý chốt điện nước của khách hàng
</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên Khách hàng</th>
      <th scope="col">Ngày chốt</th>
      <th scope="col">Ảnh chốt điện</th>
      <th scope="col">Ảnh chốt nước</th>
      <th scope="col">Chỉnh sửa</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of ListChot let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{UserMap.get(item.userID)}}</td>
      <td>{{item.ngayChot |date:"dd / MM / yyyy" }}</td>
      <td><img [src]="UrlPath+item.imgDien" width="100px" height="100px" /></td>
      <td><img [src]="UrlPath+item.imgNuoc" width="100px" height="100px" /></td>
      <td><button class="btn btn-primary" (click)="onchitiet(item)" > Chi tiết </button> || <button class="btn btn-danger" (click)="xoa(item)"> Xóa</button></td>
    </tr>
  </tbody>
</table>
