<h3 class="text-center">
  Quản lý Danh Sách Khách Hàng
</h3>
  <br/>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên Khách hàng</th>
          <th scope="col">Số Điện Thoại</th>
          <th scope="col">Quê Quán</th>
          <th scope="col">Email</th>
          <th scope="col">Thông Tin Thuê Phòng</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ListKhachHang ;let i=index" >
          <th scope="row">{{i+1}}</th>
          <td>{{item.hovaten}}</td>
          <td>{{item.soDT}}</td>
          <td>{{item.diachi}}</td>
          <td>{{item.email}}</td>
          <td><button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onthongtinct(item)"> Xem Thông Tin </button></td>
        </tr>
      </tbody>
    </table>

