
<h3 class="text-center mt-5">Thông báo</h3>
<div class="container " style="margin-bottom: 5px;">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let item of listThongBao">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{item.tieuDe}}</h5>
          <p>{{item.ngayDang |date:"dd/MM/yyyy" }}</p>
          <button class="btn btn-info" (click)="onclick(item)">chi tiết</button>
        </div>
      </div>
    </div>
  </div>
</div>