<div class="container">
  <div class="mt-5">
    <h4 class="text-center">
      {{ChitietThongBao.tieuDe}}
    </h4>
    <div class="float-end">
      {{ChitietThongBao.ngayDang | date:"dd/MM/yyyy"}}
    </div>
  </div>
  <div class="main mt-5">
    <p>{{ChitietThongBao.noiDung}}</p>
  </div>

</div>
<br />