<form>
  <div class="mb-3">
    <label class="form-label">Tên phòng </label>
    <select  name="id_Phong"class="form-select" [(ngModel)]="id_Phong">
      <option *ngFor="let item of ListPhong" [ngValue]="item.id_Phong" >{{item.tenPhong}}</option>
    </select>
</div>
<div class="mb-3">
  <label class="form-label">Tên Khách hàng </label>
  <select  name="userID" class="form-select" [(ngModel)]="userID">
    <option *ngFor="let item of ListUser" [ngValue]="item.id">{{item.hovaten}}</option>
  </select>
</div>
<div class="row g-2">
 <div class="col-6">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ngày Thuê </label>
    <input type="date" class="form-control" name="ngayThue" [(ngModel)]="ngayThue" >
  </div>
</div>
<div class="col-6">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ngày Thanh Toán </label>
    <input type="date" class="form-control" name="ngayThu"  [(ngModel)]="ngayThu">
  </div>
</div>
</div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Giá Phòng </label>
    <input type="number" class="form-control" name="giaPhong" [(ngModel)]="giaPhong" >
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Tiền Đưa Trước </label>
    <input type="number" class="form-control" name="tienDuaTruoc" [(ngModel)]="tienDuaTruoc" >
  </div>
<div class="row g-2">
  <div class="col-4">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Chỉ số điện đầu</label>
    <input type="number" class="form-control" name="csdDien" [(ngModel)]="csdDien" >
  </div>
 </div>
 <div class="col-4">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Chỉ sô điện cuối </label>
    <input type="number" class="form-control" name="cscDien"  [(ngModel)]="cscDien" >
  </div>
</div>
<div class="col-4">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Kw Điện </label>
    <input type="text" class="form-control" name="kwDien"  [(ngModel)]="kwDien" >
  </div>
</div>
</div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Giá Điện </label>
    <input type="number" class="form-control" name="giaDien"  [(ngModel)]="giaDien" >
  </div>

<div class="row g-2">
  <div class="col-6">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Chỉ số nước đầu</label>
    <input type="number" class="form-control" name="csdNuoc" [(ngModel)]="csdNuoc" >
  </div>
</div>
<div class="col-6">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Chỉ số nước cuối </label>
    <input type="number" class="form-control" name="cscNuoc" [(ngModel)]="cscNuoc" >
  </div>
</div>
</div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Giá nước </label>
    <input type="number" class="form-control" name="giaNuoc"  [(ngModel)]="giaNuoc">
  </div>
  <div class="mb-3">
    <label class="form-label">Trạng thái thanh toán </label>
    <select  name="inspaectionTypeId" id="inspaectionTypeId" class="form-select" [(ngModel)]="idTTThanhToan">
      <option [ngValue]="0" disabled >--Select Tình Trạng--</option>
      <option *ngFor="let item of ListTTTT" [ngValue]="item.idTTThanhToan" >{{item.trangThai}}</option>
    </select>
  <!-- <label for="exampleInputPassword1" class="form-label">Danh Muc </label>
  <input type="text" class="form-control" name="id_cate" [(ngModel)]="id_cate" > -->
</div>
<div class="mb-3">
  <label for="exampleInputEmail1" class="form-label">Thành Tiền </label>
  <input type="number" class="form-control" name="thanhTien"  [(ngModel)]="thanhTien" >
</div>
<div class="d-flex justify-content-evenly">
  
  <button type="submit" class="btn btn-primary float-end" (click)="tinhtien()" >Tính Tiền</button>

  
   <button type="submit" class="btn btn-primary float-end" (click)="addEmp()" *ngIf="DSTHUEPHONG.id == 0 " >Thêm</button>


   <button type="submit" class="btn btn-primary float-end" (click)="updateEmp()" *ngIf="DSTHUEPHONG.id != 0 " >Cập nhật</button>
</div>
</form>