<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Tiêu Đề </label>
    <input type="text" class="form-control" [(ngModel)]="tieuDe" name="tieuDe" >
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ngày Đăng </label>
    <input type="date" class="form-control" [(ngModel)]="ngayDang" name="ngayDang" >
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nội Dung </label>
    <textarea type="text" class="form-control" [(ngModel)]="noiDung" name="noiDung" ></textarea>
  </div>

   <button type="submit" class="btn btn-primary float-end" (click)="addEmp()" *ngIf=" ThongBao.id_ThongBao == 0" >Thêm </button>

   <button type="submit" class="btn btn-primary float-end" (click)="updateEmp()" *ngIf=" ThongBao.id_ThongBao != 0" >Update</button>
</form>