<div class="container-fluid gedf-wrapper">
  <div class="row">
      <div class="col-md-6"> 
          <h4 class="text-center">Thông tin cá nhân</h4>
          <div class="card">
              <div class="card-body">
                  <div class="h5 text-muted">Họ Và Tên : {{User.hovaten}}</div>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                      <div class="h6 text-muted">Số điện thoại : {{User.soDT}}</div>
                  </li>
                  <li class="list-group-item">
                      <div class="h6 text-muted">Địa chỉ : {{User.diachi}}</div>
                      
                  </li>
                  <li class="list-group-item">Email : {{User.email}}</li>
                  <li class="list-group-item"> Thông tin Thuê phòng:<button class="btn btn-info" style="margin-left: 30px;" (click)="onchitiet(User)">Chi tiết </button></li>
              </ul>

           </div>
<br> <br>
<!-- ====================================Chốt Điện Nước======================================= -->
           <h4 class="text-center">Chốt điện nước</h4>
           <div class="card gedf-card">
               <div class="card-body">
                 <form>
                   <div class="mb-3">
                     <label for="exampleInputEmail1" class="form-label">Họ và tên khách</label>
                     <select class="form-select" aria-label="Default select example" name="userID" [(ngModel)]="userID">
                       <option  [ngValue]="User.id" selected >{{User.hovaten}}</option>
                     </select>
                   </div>
                   <div class="mb-3">
                     <label for="exampleInputPassword1" class="form-label">Ngày Chốt</label>
                     <input type="date" class="form-control" [(ngModel)]="ngayChot" name="ngayChot" id="exampleInputPassword1">
                   </div>
                   <div class="mb-3">
                     <label for="exampleInputPassword1" class="form-label">Ảnh công tơ điện</label>
                     <input type="file" class="form-control" (change)="uploadImgDien($event)" [(ngModel)]="imgDien" name="imgDien" id="exampleInputPassword1">
                   </div>
                   <div class="mb-3">
                     <label for="exampleInputPassword1" class="form-label">Ảnh đồng hồ nước</label>
                     <input type="file" class="form-control" (change)="uploadImgNuoc($event)"  [(ngModel)]="imgNuoc" name="imgNuoc" id="exampleInputPassword1">
                   </div>
                   <button type="submit" class="btn btn-info" (click)="AddChot()">  Gửi </button>
                 </form>
               </div>
           </div>
<!-- ============================================End Chốt Điện Nước=========================================== -->
         </div> 
<!-- ============================================== End Chốt điện nước ======================================== -->


<!--============================================ Thông báo ================================================== -->
      <div class="col-md-6 gedf-main">

          <!--- \\\\\\\Post-->
          <h4 class="text-center">Thông báo</h4>
          <div class="card gedf-card" *ngFor="let item of ListThongBao">
              <div class="card-header">
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="ml-2">
                              <div class="h5 m-0">{{item.ngayDang |date:"dd / MM / yyyy" }}</div>
                              <div class="h7 text-muted">@Admin</div>
                          </div>
                      </div>
                  </div>

              </div>
              <div class="card-body">
                  <p class="card-text">
                     {{item.tieuDe}}
                  </p>
              </div>
              <div class="card-footer">
                 <button class="btn btn-info" (click)="onchitietTB(item)"> Chi tiết</button>
              </div>
          </div>
            <!--- \\\\\\\Post-->

      </div>
<!-- =========================================== End Thông báo================================================ -->
      <!-- <div class="col-md-6">
          <h4 class="text-center">Chốt điện nước</h4>
          <div class="card gedf-card">
              <div class="card-body">
                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Họ và tên khách</label>
                    <select class="form-select" aria-label="Default select example" name="userID" [(ngModel)]="userID">
                      <option  [ngValue]="User.id" selected >{{User.hovaten}}</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Ngày Chốt</label>
                    <input type="date" class="form-control" [(ngModel)]="ngayChot" name="ngayChot" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Ảnh công tơ điện</label>
                    <input type="file" class="form-control" (change)="uploadImgDien($event)" [(ngModel)]="imgDien" name="imgDien" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Ảnh đồng hồ nước</label>
                    <input type="file" class="form-control" (change)="uploadImgNuoc($event)"  [(ngModel)]="imgNuoc" name="imgNuoc" id="exampleInputPassword1">
                  </div>
                  <button type="submit" class="btn btn-primary" (click)="AddChot()">  Gửi </button>
                </form>
              </div>
          </div>
          <h4 class="text-center">Liên hệ </h4>
          <div class="card gedf-card">
                  <div class="card-body">
                    <form>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                      </div>
                      <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
              </div>
      </div> -->
  </div>
</div>