<h3 class="text-center">
  Quản lý Danh Sách Thông Báo
</h3>

  <br/>

    <table class="table border">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" class="border">Họ tên khách hàng</th>
          <th scope="col" class="border">Số phòng</th>
          <th scope="col" class="border">Nội Dung</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ListLienHe let i = index">
          <th scope="row">{{i+1}}</th>
          <td class="border">{{UserMap.get(item.userID)}}</td>
          <td class="border">{{PhongMap.get(item.id_Phong)}}</td>
          <td style="width: 50%;" class="border">{{item.noiDung}}</td>
         <td> <button class="btn btn-danger" (click)="xoaLienHe(item)"> Xóa</button></td>
        </tr>
      </tbody>
    </table>
