<h3 class="text-center">
  Danh Sách Thông Tin Thuê Phòng Của Khách Hàng
</h3>
<br>

<div class="row g-2">
  <div class="col-4" *ngFor="let item of thuephongbyUser">
    <div class="p-3 border bg-light">
      <div class="card" style="width: 100%;">
        <div class="card-header text-center">
          {{PhongMap.get(item.id_Phong)}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Tên khách hàng: {{UserMap.get(item.userID)}}</li>
          <li class="list-group-item">Ngày Thuê : {{item.ngayThue | date:"dd / MM / yyyy"}}</li>
          <li class="list-group-item">Ngày Thu : <span style="color: red; margin-left: 10px;"> {{item.ngayThu |date:"dd / MM / yyyy"}}</span></li>
        </ul>
        <div class="d-flex justify-content-evenly">
          <button class="btn btn-primary m-2" (click)="onchitiet(item)"> Chi tiết</button>
          <button class="btn btn-danger m-2" (click)="ondelete(item)" > Xóa</button>
        </div>
      </div>
    </div>
  </div>
</div>