<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Tên Phòng </label>
    <input type="text" class="form-control" [(ngModel)]="tenPhong" name="tenPhong" >
  </div>
  <div class="mb-3">
  
    <label class="form-label">Tình Trạng </label>
    <select  name="maTinhTrang" id="maTinhTrang" class="form-select" [(ngModel)]="maTinhTrang">
      <option [ngValue]="0" disabled >--Select Tình Trạng--</option>
      <option *ngFor="let item of Listtt" [ngValue]="item.maTinhTrang" >{{item.trangThai}} </option>   
    </select>
  <!-- <label for="exampleInputPassword1" class="form-label">Danh Muc </label>
  <input type="text" class="form-control" name="id_cate" [(ngModel)]="id_cate" > -->
</div>

  <div class="mb-3">
  
      <label class="form-label">Tên Chủ Nhà </label>
      <select  name="id_NhaTro" id="id_NhaTro" class="form-select" [(ngModel)]="id_NhaTro">
        <option [ngValue]="0" disabled >--Select Chủ Nhà--</option>
        <option *ngFor="let item of listnhatro" [ngValue]="item.id_NhaTro" > {{item.chuNha}} </option>   
      </select>
    <!-- <label for="exampleInputPassword1" class="form-label">Danh Muc </label>
    <input type="text" class="form-control" name="id_cate" [(ngModel)]="id_cate" > -->
  </div>

   <button type="submit" class="btn btn-primary float-end" (click)="addEmp()" *ngIf=" DSPhong.id_Phong == 0" >Add</button>

   <button type="submit" class="btn btn-primary float-end" (click)="updateEmp()" *ngIf=" DSPhong.id_Phong != 0" >Update</button>
</form>