<div class="container" style=" margin-bottom: 5px;">
  <h3 class="text-center">Liên hệ</h3>
  <div class="row">
      <div class="col-md-8">
          <div class="well well-sm">
              <form>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                        <div class="form-group">
                          <label for="subject">
                             Họ và tên</label>
                          <select id="subject" name="subject" class="form-control" required="required" [(ngModel)]="userID">
                              <option  [value]="User.id" selected>{{User.hovaten}}</option>
                             
                          </select>
                      </div>
                      </div>
                      <div class="form-group">
                        <label for="subject">
                         Số phòng</label>
                       <select id="subject" name="subject" class="form-control" required="required" [(ngModel)]="id_Phong">
                        <option  [value]="0" selected >Chọn số phòng</option>
                           <option *ngFor="let item of listPhong" [value]="item.id_Phong">{{item.tenPhong}}</option>
                          
                       </select>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="name">
                              Nội dung</label>
                          <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                              placeholder="Nhập yêu cầu" [(ngModel)]="noiDung"></textarea>
                      </div>
                  </div>
                  <div class="col-md-12">
                      <button type="submit" class="btn btn-primary pull-right" id="btnContactUs" (click)="guiyeucau()">
                          Gửi </button>
                  </div>
              </div>
              </form>
          </div>
      </div>
      <div class="col-md-4">
          <form>
          <legend><span class="glyphicon glyphicon-globe"></span> Nhà Trọ Ông Dũng</legend>
          <address>
              <strong>Địa chỉ</strong><br>
              Số nhà 18 , Ngõ 63 Lai Xá<br>
              Kim Chung Hoài Đức Hà Nội<br>
              <abbr title="Phone">
                  P:</abbr>
              (+84)378-451-661
          </address>
          <address>
              <strong>Email</strong><br>
              <a href="mailto:#">dungp0858@gmail.com</a>
          </address>
          </form>
      </div>
  </div>
</div>