<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Phòng Trọ Lai Xá</h4>
                </div>

                <form [formGroup]="FormLogin" (ngSubmit)="LoginForm()" >
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Email</label>
                    <input type="email" id="form2Example11" formControlName="email"  class="form-control"
                      placeholder="Phone number or email address" />
                  
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">Mật khẩu</label>
                    <input type="password" id="form2Example22" formControlName="password"  class="form-control" />
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" [disabled]="!FormLogin.valid">Đăng nhập</button>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Click vào đây nếu chưa có tài khoản</p>
                    <button type="button" class="btn btn-outline-danger" (click)="onclick()">Đăng Ký</button>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Phòng Trọ Lai Xá</h4>
                <p class="small mb-0">Là khu tập thể phòng trọ giá rẻ, phù hợp với sinh viên , người đi làm ... Có an ninh tốt, giờ giấc thoải mái.<br> Cảm ơn các bạn đã tin tưởng chúng tôi!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>