<h3 class="text-center">
  Quản lý Danh Sách Thông Báo
</h3>
  <button type="button" class="btn btn-primary float-end m-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addThongBao()">
    Thêm Thông Báo
  </button>
  <!-- modals -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{Modeltitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModel()" id="add-edit-close"></button>
        </div>
        <div class="modal-body">
          <app-ThemSuaThongBao [ThongBao]="ThongBao" *ngIf="activeThemsuathongbao"></app-ThemSuaThongBao>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>

  <br/>

    <table class="table border">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" class="border">Tiêu Đề</th>
          <th scope="col" class="border">Ngày Đăng</th>
          <th scope="col" class="border">Nội Dung</th>
          <th scope="col">Chỉnh sửa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ListThongBao let i= index">
          <th scope="row">{{i+1}}</th>
          <td class="border">{{item.tieuDe}}</td>
          <td class="border">{{item.ngayDang |date:"dd/mm/yyyy"}}</td>
          <td style="width: 50%;" class="border">{{item.noiDung}}</td>
          <td><button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="updateThongBao(item)"> Cập Nhật </button> || <button class="btn btn-danger" (click)=" deletethongbao(item)" > Xóa</button></td>
        </tr>
      </tbody>
    </table>
