<div class="container">
  <h3 class="text-center">Quản Lý Thuê Phòng </h3>
  <br>
  <br>
  
  <button type="button" class="btn btn-primary float-end m-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addthuePhong()">
    Thêm Danh sách thuê Phòng
  </button>
  <!-- modals -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{Modeltitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModel()" id="add-edit-close"></button>
        </div>
        <div class="modal-body">
         <app-ThemSuaThuePhong [DSTHUEPHONG]="DSTHUEPHONG" *ngIf="activeThemSuaThuePhong"> </app-ThemSuaThuePhong>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
<br>
<br>
<br>
  <div class="row g-2">
    <div class="col-4" *ngFor="let item of ListThuePhong">
      <div class="p-3 border bg-light">
        <div class="card" style="width: 100%;">
          <div class="card-header text-center">
            {{PhongMap.get(item.id_Phong)}}
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Tên khách hàng: {{UserMap.get(item.userID)}}</li>
            <li class="list-group-item">Ngày Thuê : {{item.ngayThue | date:"dd / MM / yyyy"}}</li>
            <li class="list-group-item">Ngày Thu : <span style="color: red; margin-left: 10px;"> {{item.ngayThu |date:"dd / MM / yyyy"}}</span></li>
          </ul>
          <div class="d-flex justify-content-evenly">
            <button class="btn btn-primary m-2" (click)="onchitiet(item)"> Chi tiết</button>
            <button class="btn btn-danger m-2" (click)="ondelete(item)"> Xóa</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>