
<nav class="main-navigation bg-primary p-2">
    <div class="navbar-header animated fadeInUp">
        <a class="navbar-brand" href="#">Phòng Trọ Lai Xá</a>
    </div>
    <ul class="nav-list">
        <li class="nav-list-item">
            <a href="#" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-list-item">
            <a routerLink="danh-sach-thong-bao" class="nav-link">Thông báo</a>
        </li>
        <li class="nav-list-item">
            <a routerLink="lien-he" class="nav-link">Liên hệ</a>
        </li>
        <li class="nav-list-item">
            <a href="#" class="nav-link">Đăng xuất</a>
        </li>
    </ul>

</nav>
<!-- ============================Main============================ -->
<router-outlet> </router-outlet>
<!-- ============================End Main============================ -->
<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-4 col-xl-5">
          <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
            <p>Là khu tập thể phòng trọ giá rẻ, phù hợp với sinh viên , người đi làm ... Có an ninh tốt, giờ giấc thoải mái.<br> Cảm ơn các bạn đã tin tưởng chúng tôi!</p>
            <!-- Rights-->
            <p class="rights"><span>©  </span><span class="copyright-year">2022</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
          </div>
        </div>
        <div class="col-md-4">
          <h5>Liên hệ</h5>
          <dl class="contact-list">
            <dt>Địa chỉ:</dt>
            <dd>Số nhà 18 ngõ 63,Lai Xá,Kim Chung,Hoài Đức,Hà Nội</dd>
          </dl>
          <dl class="contact-list">
            <dt>email:</dt>
            <dd><a href="mailto:#">dungp0858@gmail.com</a></dd>
          </dl>
          <dl class="contact-list">
            <dt>Số điện thoại:</dt>
            <dd><a href="tel:#">+84981416702</a>
            </dd>
          </dl>
        </div>
        <div class="col-md-4 col-xl-3">
          <h5>Menu</h5>
          <ul class="nav-list">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Thông báo</a></li>
            <li><a href="#">Liên hệ</a></li>
            <li><a href="#">Giới thiệu</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row no-gutters social-container">
      <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
      <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
      <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
      <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
    </div>
  </footer>
