<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" >
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a >Quản lý phòng trọ</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-info">
          <span class="user-name">{{User.hovaten}}
          </span>
          <hr>
          <span class="user-name">{{User.roles}}
          </span>
          <span class="user-role">{{User.email}}</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
    
     
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>Danh mục quản lý</span>
          </li>
          <li class="sidebar-dropdown">
            <a routerLink="admin-home">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>
            </a>
            <!-- <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Dashboard 1
                    <span class="badge badge-pill badge-success">Pro</span>
                  </a>
                </li>
                <li>
                  <a href="#">Dashboard 2</a>
                </li>
                <li>
                  <a href="#">Dashboard 3</a>
                </li>
              </ul>
            </div> -->
          </li>
          <li class="sidebar-dropdown">
            <a routerLink="quan-ly-phong">
              <i class="fa fa-shopping-cart"></i>
              <span>Quản lý phòng</span>
              <span class="badge badge-pill badge-danger"></span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a routerLink="quan-ly-thue-phong">
              <i class="far fa-gem"></i>
              <span>Quản lý thuê phòng</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a routerLink="quan-ly-khach-hang">
              <i class="fa fa-chart-line"></i>
              <span>Quản lý khách hàng</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a routerLink="quan-ly-chot-dien-nuoc">
              <i class="fa fa-globe"></i>
              <span>Quản lý Chốt Điện Nước</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a routerLink="quan-ly-thong-bao">
              <i class="fa fa-globe"></i>
              <span>Quản lý thông báo</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a routerLink="quan-ly-lien-he">
              <i class="fa fa-globe"></i>
              <span>Quản lý liên hệ</span>
            </a>
          </li>
          <li class="header-menu">
            <span>Tính năng khác</span>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-book"></i>
              <span>Đang phát triển</span>
              <span class="badge badge-pill badge-primary">Beta</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-calendar"></i>
              <span>Calendar</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-folder"></i>
              <span>Examples</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
     
       <router-outlet></router-outlet>
      
    
      <hr>

      <footer class="text-center">
        <div class="mb-2">
          <small>
            © 2020 made with <i class="fa fa-heart" style="color:red"></i> by - <a target="_blank" rel="noopener noreferrer" href="https://azouaoui.netlify.com">
              Mohamed Azouaoui
            </a>
          </small>
        </div>
        <div>
          <a href="https://github.com/azouaoui-med" target="_blank">
            <img alt="GitHub followers" src="https://img.shields.io/github/followers/azouaoui-med?label=github&style=social" />
          </a>
          <a href="https://twitter.com/azouaoui_med" target="_blank">
            <img alt="Twitter Follow" src="https://img.shields.io/twitter/follow/azouaoui_med?label=twitter&style=social" />
          </a>
        </div>
      </footer>
    </div>
  </main>
  <!-- page-content" -->
</div>