
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{Modeltitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModel()" id="add-edit-close"></button>
      </div>
      <div class="modal-body">
       <app-ThemSuaThuePhong [DSTHUEPHONG]="DSTHUEPHONG" *ngIf="activeThemSuaThuePhong"> </app-ThemSuaThuePhong>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>





<div class="list-group">
  <h3 class="list-group-item list-group-item-action active" aria-current="true">
    Chi Tiết Thuê Phòng
  </h3>
    <li class="list-group-item list-group-item-action">
      Số Phòng:
     {{PhongMap.get(ListThuebyId.id_Phong)}}
    </li>
    <li class="list-group-item list-group-item-action">
      Tên khách hàng:
      {{UserMap.get(ListThuebyId.userID)}}
    </li>
    <li class="list-group-item list-group-item-action">
      Ngày Thuê:
     {{ListThuebyId.ngayThue|date:"dd / MM / yyyy"}}
    </li>
    <li class="list-group-item list-group-item-action">
      Ngày Thu:
      {{ListThuebyId.ngayThu|date:"dd / MM / yyyy"}}
    </li>
    <li class="list-group-item list-group-item-action">
      Giá Phòng:
     {{ListThuebyId.giaPhong |number}} VND
    </li>
    <li class="list-group-item list-group-item-action">
      Tiền khách Đưa Trước:
      {{ListThuebyId.tienDuaTruoc |number}} VND
     </li>
     <li class="list-group-item list-group-item-action">
      Chỉ Số Điện Đầu:
      {{ListThuebyId.csdDien}}
     </li>
     <li class="list-group-item list-group-item-action">
      Chỉ Số Điện Cuối:
      {{ListThuebyId.cscDien}}
     </li>
     <li class="list-group-item list-group-item-action">
      Kw Điện:
      {{ListThuebyId.kwDien}}
     </li>
     <li class="list-group-item list-group-item-action">
       Giá Điện:
      {{ListThuebyId.giaDien |number}}
     </li>
     <li class="list-group-item list-group-item-action">
      Chỉ số nước đầu:
      {{ListThuebyId.csdNuoc}}
     </li>
     <li class="list-group-item list-group-item-action">
      Chỉ số nước cuối:
      {{ListThuebyId.cscNuoc}}
     </li>
     <li class="list-group-item list-group-item-action">
      Giá nước:
      {{ListThuebyId.giaNuoc | number}} VND
     </li>
     <li class="list-group-item list-group-item-action">
      Tình trạng thanh toán:
      {{TTTTMap.get(ListThuebyId.idTTThanhToan)}}
     </li>
     <li class="list-group-item list-group-item-action">
      Tổng tiền còn thiếu:
      {{ListThuebyId.thanhTien | number}} VND
     </li>
 <div class="mt-3" >
    <button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 150px;" (click)="updateThue(ListThuebyId)"> Cập nhật</button>
  </div>
</div>