<h3 class="text-center">
  Quản lý Danh Sách Phòng Trọ 
</h3>
  <button type="button" class="btn btn-primary float-end m-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addPhong()">
    Thêm Phòng
  </button>
  <!-- modals -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{Modeltitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModel()" id="add-edit-close"></button>
        </div>
        <div class="modal-body">
        <app-ThemSuaPhong [DSPhong]="DSPhong" *ngIf="activateAddEditPhongComponent"> </app-ThemSuaPhong>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>

  <br/>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên Phòng</th>
          <th scope="col">Tình Trạng</th>
          <th scope="col">Tên Chủ Nhà</th>
          <th scope="col">Chỉnh sửa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ListPhong let i= index">
          <th scope="row">{{i+1}}</th>
          <td>{{item.tenPhong}}</td>
          <td>{{TinhTrangMap.get(item.maTinhTrang)}}</td>
          <td>{{NhaTroMap.get(item.id_NhaTro)}}</td>
          <td><button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="updatePhong(item)"> Cập Nhật </button> || <button class="btn btn-danger" (click)=" deletePhong(item)" > Xóa</button></td>
        </tr>
      </tbody>
    </table>
