<h3 class="text-center">Chào mừng bạn đến với trang quản lý phòng trọ</h3>
<hr>
<div class=" d-flex justify-content-center">
<button type="button" class="btn btn-primary m-2" (click)="onqlphong()">Quản lý phòng</button>
<button type="button" class="btn btn-secondary m-2" (click)="onqltPhong()">quản lý thuê phòng</button>
<button type="button" class="btn btn-success m-2" (click)="onqltbao()">quản lý thông báo</button>
<button type="button" class="btn btn-danger m-2" (click)="onqlkh()">quản lí khách hàng</button>
<button type="button" class="btn btn-warning m-2" (click)="onqlchot()">quản lý chốt điện nước</button>
</div>
<hr>
<div class="border">
  <h4 class="text-center">
    Danh sách khách hàng chưa đóng tiền 
  </h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Họ Tên khách</th>
        <th scope="col">tên Phòng</th>
        <th scope="col">ngày thu</th>
        <th scope="col">tình trạng</th>
        <th scope="col">Tổng Tiền</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listchuathanhtoan let i =index">
        <th scope="row">{{i+1}}</th>
        <td> {{UserMap.get(item.userID)}}</td>
        <td>{{PhongMap.get(item.id_Phong)}}</td>
        <td>{{item.ngayThu|date:"dd / MM / yyyy"}}</td>
        <td> {{TTTTMap.get(item.idTTThanhToan)}}</td>
        <td>{{item.thanhTien | number}} VND</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row mt-5">
  <div class="col-12 border">
    <h4 class="text-center">
      Danh sách phòng chưa thuê
    </h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên Phòng</th>
          <th scope="col">Tình Trạng</th>
          <th scope="col">Chủ Nhà</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ListPhongchuathue let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{item.tenPhong}}</td>
          <td>{{TinhTrangMap.get(item.maTinhTrang)}}</td>
          <td>{{NhaTroMap.get(item.id_NhaTro)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>